<%- include('partials/header') %>
<body>

        <h1>Home</h1>
        <p><%= content %></p>


        <% article.forEach((post) => { %>
     
            <h3><%= post.title %></h3>
            <p><%= post.content.substring(0, 100)+("........") %><a href="/post/<%= encodeURIComponent(post._id) %>">Read More</a></p>
        <% }) %>



</body>
<%- include('partials/footer.ejs') %>
